body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 8vh;
  background-color: rgb(50, 7, 8);
  color: #f9b6b4;
  margin-bottom: 150px;
}

/* account pages */

/* start page */
.startPage {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "logo"
    "brand"
    "form";
  justify-content: center;
  align-items: center;
}

.logo {
  grid-area: logo;
  justify-self: center;
}

.brand {
  grid-area: brand;
  font-size: 40px;
  text-align: center;
}

/* sign in page */

.signInPage {
  grid-area: form;
  display: grid;
  grid-template-areas:
    "un"
    "pw"
    "."
    "."
    ".";
  justify-content: center;
  justify-items: center;
  row-gap: 2vh;
}

.usernameInput {
  grid-area: un;
}

.passwordInput {
  grid-area: pw;
}

.usernameInput,
.passwordInput {
  font-size: 2vw;
  text-align: center;
  background: none;
  border-style: none;
  border-radius: 20px;
  height: 3vh;
  width: 35vw;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  font-family: "Inter", sans-serif;
}

.usernameInput::placeholder,
.passwordInput::placeholder {
  font-family: "Inter", sans-serif;
  color: #f9b6b4;
  text-align: center;
  opacity: 0.3;
}

.usernameInput:focus,
.passwordInput:focus {
  outline: none;
  color: #f9b6b4;
  background-color: #5c1128;
  font-family: "Inter", sans-serif;
}

.usernameInput:hover,
.passwordInput:hover {
  background-color: #5c1128;
}

.signIn {
  margin-top: 4vh;
}

.signIn,
.forgotPassword,
.signUp {
  font-size: 2vw;
  background-color: #810e1b;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  height: 3vh;
  width: 27vw;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
}

.signIn:hover,
.forgotPassword:hover,
.signUp:hover {
  background-color: #5c1128;
  color: #f9b6b4;
}

/* forgot password page */
.forgotPasswordPage {
  grid-area: form;
  justify-self: center;
}

/* sign up page */

.signUpPage {
  grid-area: form;
  display: grid;
  grid-template-areas:
    "un"
    "pw"
    "."
    "."
    ".";
  justify-content: center;
  justify-items: center;
  row-gap: 2vh;
}

/* welcome banner */

#welcome {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: black;
  background-image: url("https://i.imgur.com/6M5fXhQ.png");
  background-size: cover;
  /* opacity: 0.9; */
  text-align: center;
  z-index: 1;

  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#welcome h1 {
  text-align: center;
  font-size: 10vw;
}

#welcome button {
  font-size: 2vw;
  background-color: #810e1b;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  height: 3vh;
  width: 27vw;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  align-self: flex-start;
}

#welcome button:hover {
  background-color: #5c1128;
  color: #f9b6b4;
}

.hideWelcome {
  animation-name: hideDiv;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes hideDiv {
  from {
    top: 0;
  }
  to {
    top: -100vh;
  }
}

.hideOverflow {
  overflow: hidden;
}

/* header & footer */

#header {
  margin: 5vh 3vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: 2vw;
}

.headerLinks {
  color: #f9b6b4;
  text-decoration: none;
}

.headerLinks:hover {
  color: #ffffff;
  text-decoration: none;
}

/* header dropdown */

.headerDropdown {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  text-align: left;
  position: relative;
  display: inline-block;
}

#headerDropdownContent {
  position: absolute;
}

.headerDropdownContent {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
}

.menu:hover {
  color: #ffffff;
}

.menuOptions {
  color: #f9b6b4;
  text-decoration: none;
}

.menuOptions:hover {
  color: #ffffff;
  text-decoration: none;
}

/* now playing */

#nowPlaying {
  position: fixed;
  bottom: 0;
  z-index: 0;
  background-color: #050404;
  opacity: 0.8;
  color: white;
  height: 70px;
  width: 100%;
  padding: 40px;
  /* padding-bottom: 40px; */

  display: grid;
  grid-template-areas: "1 2 3";
  align-items: center;
}
#nowPlaying p {
  display: inline;
  font-size: 10px;
}

.maximised {
  height: 100vh !important;
  width: 100vw !important;
}

.nowPlayingCol1 {
  /* justify-self: flex-start; */
  display: grid;
}

.trackImage {
}

.trackArtist {
  font-size: 50px;
}

.trackName {
  font-size: 50px;
}

.nowPlayingCol2 {
  justify-self: center;
  display: grid;
}

.progressBar {
  --bar-bg: #ffc2a1;
  --seek-before-width: 0;
  --seek-before-color: #320708;
  --knobby: #810e1b;
  --selectedKnobby: #810e1b;

  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

.progressBar::-moz-focus-outer {
  border: 0;
}

.progressBar::before {
  content: "";
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}

.progressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

.nowPlayingCol3 {
  display: grid;
  grid-template-areas:
    "min scrollbtn"
    "icon slider";
}

.scroll {
  grid-area: scrollbtn;
}

.minMax {
  grid-area: min;
}

.volumeBar {
  grid-area: slider;
}

.mute,
.volume {
  grid-area: icon;
}

/* home page */

.home {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  margin: 40px 80px;
  row-gap: 60px;
}

.homeSearch, .homeStats, .homePlaylists, .homeTopTracks {
  background-color: rgb(95, 35, 36);
  margin: auto 0;
  padding: 3vw 3vh;
  border-radius: 10px;
  text-align: center;
    color: #f9b6b4;
  text-decoration: none;
  font-weight: 600;
  font-size: 5vw;
}

.homeSearch:hover, .homeStats:hover, .homePlaylists:hover, .homeTopTracks:hover {
  background-color: rgba(255, 255, 255, 0.26);
}

/* search page */
.searchPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  'input btn';
  justify-items: center;
}

.searchInput {
  grid-area: input;
  justify-self: flex-end;
  width: 50%;
  font-size: 2vw;
  text-align: center;
  background: none;
  border-style: none;
  border-radius: 20px;
  height: 3vh;
  width: 35vw;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  font-family: "Inter", sans-serif;
}

.searchInput::placeholder {
  font-family: "Inter", sans-serif;
  color: #f9b6b4;
  text-align: center;
  opacity: 0.3;
}

.searchInput:focus {
  outline: none;
  color: #f9b6b4;
  background-color: #5c1128;
  font-family: "Inter", sans-serif;
}

.searchInput:hover {
  background-color: #5c1128;
}

.searchButton {
  grid-area: btn;
  font-size: 16px;
  background-color: #810e1b;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  height: 30px;
  width: 100px;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  align-self: flex-start;
}

.searchButton:hover {
  background-color: #5c1128;
  color: #f9b6b4;
}

/* search results page */
.searchResultsPage-legend, .eachPlaylistPage-legend {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
  grid-template-areas:
  '. . name artist duration .';
  justify-items: center;
  font-weight: 600;
}

.searchResultsPage-trackName, .eachPlaylistPage-trackName {
  grid-area: name;
}

.searchResultsPage-trackArtist, .eachPlaylistPage-trackArtist {
  grid-area: artist;
}

.searchResultsPage-trackDuration, .eachPlaylistPage-trackDuration {
  grid-area: duration;
}

.result, .playlist {
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.result img, .playlist img {
  width: 50px;
}

.prevPage,
.nextPage {
  /* font-size: 16; */
  background-color: #810e1b;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  height: 3vh;
  width: 10vw;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
}

/* each playlist page, similar to searchresultspage */

.eachPlaylistTrack {
  background-color: #5c1128;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* #nowPlaying p {
  display: inline;
  font-size: 10px;
}

.maximised {
  height: 100vh !important;
  width: 100vw !important;
} */

/* dropdown options */

#resultMenuContainer {
  position: relative;
  display: inline-block;
}

#resultMenuContainer div {
  position: absolute;
  display: none;
}

/* will hide etc */
.resultMenuContent-hidden {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: inline-block !important;
  background-color: #5c1128;
  padding: 5px 8px;
}



/* #newPlaylistNameInput,
#newPlaylistNameInputButton {
  display: none;
} */

#newPlaylistButton:hover #newPlaylistNameInput,
#newPlaylistButton:hover #newPlaylistNameInputButton {
  display: inline-block !important;
}

#newPlaylistNameInput:focus {
  display: inline-block;
}

#newPlaylistNameInput:focus + button {
  display: inline-block;
}

/* playlists page css */

.playlistsPage {
  display: grid;
  grid-template-areas:
  'playlists'
  'create';
  margin: 30px;
  row-gap: 30px;
}

.playlistsPage-playlists {
  grid-area: playlists;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.playlistsPage-playlistOptions p:hover {
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.playlistsPage-eachPlaylist {
  background-color: rgb(95, 35, 36);
  padding: 20px;
  border-radius: 10px;
}

.playlistsPage-eachPlaylist:hover {
  background-color: rgba(255, 255, 255, 0.26);
}

.playlistsPage-playlistName {
  color: #f9b6b4;
  text-decoration: none;
  font-weight: 600;
  font-size: 40px;
}

#playlistsPage-playlistRenameInput {
  display: none;
  grid-area: input;
  justify-self: flex-end;
  font-size: 2vw;
  text-align: center;
  background: none;
  border-style: none;
  border-radius: 20px;
  height: 3vh;
  width: 35vw;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  font-family: "Inter", sans-serif;
}

#playlistsPage-playlistRenameInput::placeholder {
  font-family: "Inter", sans-serif;
  color: #f9b6b4;
  text-align: center;
  opacity: 0.3;
}

#playlistsPage-playlistRenameInput:focus {
  outline: none;
  color: #f9b6b4;
  background-color: #5c1128;
  font-family: "Inter", sans-serif;
}

#playlistsPage-playlistRenameInput:hover {
  background-color: #5c1128;
}

#playlistsPage-playlistRenameInputButton {
  display: none;
  grid-area: btn;
  background-color: transparent;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  height: 30px;
  width: 150px;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  align-self: flex-start;
  margin: 20px;
}

.playlistsPage-playlistRenameInput-shown, .playlistsPage-playlistRenameInputButton-shown {
  display: inline-block !important;
}

#playlistsPage-playlistRenameInputButton:hover {
  background-color: #5c1128;
  color: #f9b6b4;
}

.playlistsPage-playlistName:hover {
  color: #ffffff;
  text-decoration: none;
}

.playlistsPage-createPlaylist {
  grid-area: create;
  background-color: rgb(63, 21, 22);
  padding: 20px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}

.playlistsPage-createPlaylist:hover {
  background-color: rgba(255, 255, 255, 0.26);
}

#playlistsPage-newPlaylistNameInput,
#playlistsPage-newPlaylistNameInputButton {
  display: none;
}

.playlistsPage-newPlaylistNameInput-shown,
.playlistsPage-newPlaylistNameInputButton-shown {
  display: inline-block !important;
  margin: auto;
  background-color: transparent;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  height: 30px;
  width: 150px;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
}

.playlistsPage-newPlaylistNameInput-shown {
  width: 35vw;
  text-align: center;
}

.playlistsPage-newPlaylistNameInput-shown::placeholder {
  font-family: "Inter", sans-serif;
  color: #f9b6b4;
  text-align: center;
  opacity: 0.3;
}

.playlistsPage-newPlaylistNameInput-shown:focus {
  outline: none;
  color: #f9b6b4;
  background-color: #5c1128;
  font-family: "Inter", sans-serif;
}

.playlistsPage-newPlaylistNameInput-shown:hover {
  background-color: #5c1128;
}

.playlistsPage-newPlaylistNameInputButton-shown:hover {
  background-color: #5c1128;
  color: #f9b6b4;
}