body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(50, 7, 8);
  color: #f9b6b4;
  height: 100vh;
}

button:hover {
  cursor: pointer;
}

/* account pages */

/* start page */
.startPage {
  margin: 0 auto;
  padding-top: 50px;
  display: grid;
  grid-template-areas:
    "logo brand"
    "form form";
  justify-content: center;
  column-gap: 20px;
}

.logo {
  grid-area: logo;
  justify-self: center;
  align-self: center;
}

.brand {
  grid-area: brand;
  font-size: 3em;
  text-align: center;
}

.Toastify__toast-container {
  width: fit-content !important;
  opacity: 0.8;
}

.Toastify__toast-body {
  margin: 10px !important;
}

.Toastify__toast {
  background: #ffffff !important;
  color: #810e1b !important;
}

.Toastify__toast::after {
  background-color: #810e1b !important;
}

.Toastify__progress-bar {
  background: #810e1b !important;
}

.Toastify__close-button {
  color: #810e1b !important;
}

.Toastify__close-button:hover {
  color: #ffffff !important;
}

/* sign in page */
.signInPage {
  grid-area: form;
  margin-top: 50px;
  display: grid;
  grid-template-areas:
    "header"
    "un"
    "pw"
    "."
    "."
    ".";
  justify-content: center;
  justify-items: center;
  row-gap: 20px;
}

.signInPage p {
  grid-area: header;
  font-weight: bold;
}

.usernameInput {
  grid-area: un;
}

.passwordInput {
  grid-area: pw;
}

.usernameInput,
.passwordInput {
  text-align: center;
  background: none;
  border-style: none;
  border-radius: 7px;
  height: 30px;
  width: 200px;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  font-family: "Inter", sans-serif;
}

.usernameInput::placeholder,
.passwordInput::placeholder {
  color: #f9b6b4;
  text-align: center;
  opacity: 0.3;
}

.usernameInput:focus,
.passwordInput:focus {
  outline: none;
  color: #f9b6b4;
  background-color: #5c1128;
}

.usernameInput:hover,
.passwordInput:hover {
  background-color: #5c1128;
}

.signInPage .signIn {
  margin-top: 30px;
}

.signIn,
.signUp {
  background-color: #810e1b;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  height: 30px;
  width: 100px;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
}

.signIn:hover,
.signUp:hover {
  background-color: #5c1128;
  color: white;
}

/* sign up page */
.signUpPage {
  grid-area: form;
  margin-top: 50px;
  display: grid;
  grid-template-areas:
    "header"
    "un"
    "pw"
    "."
    "."
    ".";
  justify-content: center;
  justify-items: center;
  row-gap: 20px;
}

.signUpPage p {
  grid-area: header;
  font-weight: bold;
}

.signUpPage .signUp {
  margin-top: 30px;
}

/* music pages */

/* welcome banner */
#welcome {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
  text-align: center;
  z-index: 1;

  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

#welcome h1 {
  text-align: center;
  font-size: 50px;
}

#welcome button {
  font-size: 20px;
  background-color: #810e1b;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  align-self: flex-start;
}

#welcome button:hover {
  background-color: #5c1128;
  color: #f9b6b4;
}

.hideWelcome {
  animation-name: hideDiv;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes hideDiv {
  from {
    top: 0;
  }
  to {
    top: -100vh;
  }
}

.hideOverflow {
  overflow: hidden;
}

/* header (navbar) */

#header {
  padding: 60px 30px 0px 30px;
  display: grid;
  grid-template-areas:
    "brand"
    "header";
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: 18px;
}

.brandHeader {
  grid-area: brand;
  font-weight: bold;
  text-decoration: none;
  color: #f9b6b4;
}

.headerHamburger {
  display: none;
}

#collapsedHeader {
  grid-area: header;
  display: grid;
  grid-template-areas: ". . . . .";
  justify-items: center;
  align-items: center;
  column-gap: 40px;
}

.headerLinks {
  color: #f9b6b4;
  text-decoration: none;
}

.headerLinks:hover {
  color: #ffffff;
  text-decoration: none;
}

/* header dropdown */

.headerDropdown {
  text-align: left;
  position: relative;
  display: grid;
  grid-template-areas:
    "menu"
    "options";
}

#headerDropdownContent {
  grid-area: options;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  width: auto;
  height: auto;
  text-align: left;
}

.headerDropdownContent {
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
}

.menu:hover {
  color: #ffffff;
}

.menuOptions {
  color: #f9b6b4;
  text-decoration: none;
  margin: 10px 3px;
}

.menuOptions:hover {
  color: #ffffff;
  text-decoration: none;
}

/* footer (now playing) */

#nowPlaying {
  position: sticky;
  bottom: 0;
  /* z-index: 0; */
  background-color: #050404;
  opacity: 0.8;
  color: white;
  padding: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "1 2 3";
  align-items: center;
}

#nowPlaying p {
  display: inline;
  font-size: 14px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.maximised {
  height: 100vh !important;
  width: 100vw !important;
}

.nowPlayingCol1 {
  display: grid;
}

/* .trackImage {
  width: 50px;
  height: 50px;
} */

.trackArtist {
  font-size: 50px;
}

.trackName {
  font-size: 50px;
}

.nowPlayingCol2 {
  justify-self: center;
  display: grid;
}

.progressBar {
  --bar-bg: #ffc2a1;
  --seek-before-width: 0;
  --seek-before-color: #320708;
  --knobby: #810e1b;
  --selectedKnobby: #810e1b;

  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}

.progressBar::-moz-focus-outer {
  border: 0;
}

.progressBar::before {
  content: "";
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}

.progressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}

.nowPlayingCol3 {
  display: grid;
  grid-template-areas:
    "min scrollbtn"
    "icon slider";
}

.scroll {
  grid-area: scrollbtn;
}

.minMax {
  grid-area: min;
}

.volumeBar {
  grid-area: slider;
}

.mute,
.volume {
  grid-area: icon;
}

/* home page */

.home {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "search playlist"
    "stats stats";
  margin: 40px 50px;
  row-gap: 60px;
  column-gap: 60px;
}

.homeSearch {
  grid-area: search;
}

.homeStats {
  grid-area: stats;
}

.homePlaylists {
  grid-area: playlist;
}

.homeSearch,
.homeStats,
.homePlaylists {
  background-color: rgb(95, 35, 36);
  margin: auto 0;
  padding: 3vw 3vh;
  border-radius: 10px;
  text-align: center;
  color: #f9b6b4;
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
}

.homeSearch:hover,
.homeStats:hover,
.homePlaylists:hover {
  background-color: rgba(255, 255, 255, 0.26);
}

/* search page */

.eachPlaylistPage h1 {
  text-align: center;
}

.searchPage {
  margin: 40px auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  column-gap: 30px;
  position: relative;
}

.searchIcon {
  height: 27px;
  position: absolute;
  top: 4px;
  left: -25px;
}

.searchInput {
  text-align: center;
  background: none;
  border-radius: 10px;
  height: 30px;
  width: 400px;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  font-family: "Inter", sans-serif;
}

.searchInput::placeholder {
  color: #f9b6b4;
  text-align: center;
  opacity: 0.3;
}

.searchInput:focus {
  outline: none;
  color: #f9b6b4;
  background-color: #5c1128;
  font-family: "Inter", sans-serif;
}

.searchInput:hover {
  background-color: #5c1128;
}

.searchButton {
  background-color: #810e1b;
  border: none;
  color: #f9b6b4;
  height: 37px;
  width: 80px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
}

.searchButton:hover {
  background-color: #5c1128;
  color: #f9b6b4;
}

/* search results page */

.searchResultsPage {
  margin: 40px 30px;
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
}

.searchResultsPage-legend {
  display: grid;
  grid-template-columns: 0.3fr 0.5fr 2fr 1fr 0.5fr 0.5fr;
  grid-template-areas: ". . title artist duration .";
  /* justify-items: center; */
  column-gap: 10px;
  font-weight: 600;
}

.searchResultsPage-legend p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchResultsPage-play {
  width: 30px;
}

.searchResultsPage-img,
.result img {
  width: 50px;
}

.searchResultsPage-options {
  width: 16px;
}

.searchResultsPage-trackName {
  grid-area: title;
}

.searchResultsPage-trackArtist {
  grid-area: artist;
}

.searchResultsPage-trackDuration {
  grid-area: duration;
}

.result {
  border-radius: 20px;
  display: grid;
  grid-template-columns: 0.3fr 0.5fr 2fr 1fr 0.5fr 0.5fr;
  grid-template-rows: 70px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  column-gap: 10px;
}

.result p {
  width: 100%;
  justify-self: left;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prevPage,
.nextPage {
  /* font-size: 16; */
  background-color: #810e1b;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  height: 3vh;
  width: 10vw;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
}

/* dropdown options */

.resultMenuIcon:hover {
  color: white;
}

#resultMenuContainer {
  position: relative;
  display: inline-block;
}

#resultMenuContainer div {
  position: absolute;
  display: none;
}

.resultMenuContent-hidden {
  /* will show result menu content */
  position: absolute;
  top: 25px;
  right: 0;
  z-index: 1;
  display: inline-block !important;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
}

#resultMenuContainer button {
  background-color: #810e1b;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  height: fit-content;
  width: 100%;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  margin: 7px 0;
}

#resultMenuContainer button:hover {
  background-color: #5c1128;
}

.resultMenuNewPlaylistContent-hidden {
  /* will show result menu new playlist content */
  position: absolute;
  right: 100%;
  top: 110px;
  z-index: 1;
  display: inline-block !important;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.resultMenuAddToPlaylist {
  font-weight: bold;
}

.newPlaylistNameInput {
  text-align: center;
  background: none;
  border-style: none;
  border-radius: 7px;
  height: 25px;
  width: 120px;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  font-family: "Inter", sans-serif;
}

.newPlaylistNameInput::placeholder {
  color: #f9b6b4;
  text-align: center;
  opacity: 0.5;
}

.newPlaylistNameInput:focus {
  outline: none;
  color: #f9b6b4;
  background-color: #5c1128;
}

.newPlaylistNameInput:hover {
  background-color: #5c1128;
}

.newPlaylistNameInputButton {
  width: fit-content !important;
}

/* each playlist page, similar to searchresultspage */

#playlistsPage-Rename {
  display: none;
}

.eachPlaylistPage {
  position: relative;
  margin: 30px;
}

.eachPlaylistPage-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "title title"
  "rename delete";
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  justify-items: center;
  margin-bottom: 30px;
  text-align: center;
}

.eachPlaylist-title {
  grid-area: title;
}

#playlistsPage-playlistRenameInputButton {
  grid-area: rename;
  justify-self: right;
}

#playlistsPage-playlistDeleteButton {
  grid-area: delete;
  justify-self: left;
}

.eachPlaylist-length {
  font-weight: bold;
}

.eachPlaylistsPage-Rename-shown {
  display: inline-block !important;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  top: 160px;
  position: absolute;
  z-index: 1;
}

/* #nowPlaying p {
  display: inline;
  font-size: 10px;
}

.maximised {
  height: 100vh !important;
  width: 100vw !important;
} */


/* playlists page css */

.playlistsPage {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

/* create new playlist */
.playlistsPage-createPlaylist {
  width: 200px;
  height: 200px;
  background-color: rgb(63, 21, 22);
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin: auto;
}

#playlistsPage-newPlaylistNameInput {
  background-color: transparent;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  height: 25px;
  width: 150px;
  border-radius: 7px;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 10px;
}

#playlistsPage-newPlaylistNameInputButton {
  background-color: #810e1b;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  height: 25px;
  width: fit-content;
  border-radius: 20px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
}

#playlistsPage-newPlaylistNameInputButton:hover {
  background-color: #5c1128;
}

#playlistsPage-newPlaylistNameInput::placeholder {
  color: #f9b6b4;
  text-align: center;
  opacity: 0.3;
}

#playlistsPage-newPlaylistNameInput:focus {
  outline: none;
  color: #f9b6b4;
  background-color: #5c1128;
}

#playlistsPage-newPlaylistNameInput:hover {
  background-color: #5c1128;
}

/* each playlist */

.playlistsPage-playlists {
  display: flex;
  flex-flow: row wrap;
  margin: 40px;
  justify-content: center;
  row-gap: 30px;
  column-gap: 30px;
}

.playlistsPage-eachPlaylist {
  width: 110px;
  height: 50px;
  background-color: rgb(95, 35, 36);
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "name name"
    "rename delete";
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  position: relative;
}

.playlistsPage-playlistName {
  grid-area: name;
  color: #f9b6b4;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.playlistsPage-eachPlaylist div {
  display: none;
}

.playlistsPage-Rename-shown {
  display: inline-block !important;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  top: 90px;
  position: absolute;
  z-index: 1;
}

.playlistsPage-playlistRenameInput {
  grid-area: input;
  background-color: transparent;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  height: 25px;
  width: 150px;
  border-radius: 7px;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

.playlistsPage-playlistRenameInput::placeholder {
  font-family: "Inter", sans-serif;
  color: #f9b6b4;
  text-align: center;
  opacity: 0.5;
}

.playlistsPage-playlistRenameInput:focus {
  outline: none;
  color: #f9b6b4;
  background-color: #5c1128;
  font-family: "Inter", sans-serif;
}

.playlistsPage-playlistRenameInput:hover {
  background-color: #5c1128;
}

.playlistsPage-playlistRenameInputButton,
.playlistsPage-playlistSubmitButton,
#playlistsPage-playlistDeleteButton {
  /* grid-area: btn; */
  background-color: #810e1b;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  height: 25px;
  width: fit-content;
  border-radius: 20px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
}

.playlistsPage-playlistRenameInput-shown,
.playlistsPage-playlistRenameInputButton-shown,
.playlistsPage-playlistSubmitButton-shown {
  display: inline-block !important;
}

.playlistsPage-playlistRenameInputButton:hover,
.playlistsPage-playlistSubmitButton:hover,
#playlistsPage-playlistDeleteButton:hover {
  background-color: #5c1128;
}

.playlistsPage-playlistName:hover {
  color: #ffffff;
  text-decoration: none;
}

/* settings page */

.settingsPage {
  text-align: center;
  display: grid;
  grid-template-areas:
    "hi hi"
    "un pw";
}

.settingsPage h1 {
  grid-area: hi;
}

.changeUsername {
  grid-area: un;
}

.changePassword {
  grid-area: pw;
}

.settingsPage button {
  background-color: #810e1b;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  height: 30px;
  width: fit-content;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
}

.settingsPage button:hover {
  background-color: #5c1128;
  color: white;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.inputs input {
  text-align: center;
  background: none;
  border-style: none;
  border-radius: 7px;
  height: 30px;
  width: 200px;
  border: solid 2px #f9b6b4;
  color: #f9b6b4;
  font-family: "Inter", sans-serif;
}

.inputs input::placeholder {
  color: #f9b6b4;
  text-align: center;
  opacity: 0.3;
}

.inputs input:focus {
  outline: none;
  color: #f9b6b4;
  background-color: #5c1128;
}

.inputs input:hover {
  background-color: #5c1128;
}

/* ------------------------------------------------------------- */
/* responsiveness*/
@media screen and (max-width: 650px) {
  .logo {
    font-size: 12px;
  }

  .brand {
    font-size: 2em;
  }

  .Toastify__toast-container {
    width: fit-content !important;
    margin: 10px 10px 0px 10px !important;
  }

  .Toastify__toast-body {
    font-size: 12px;
  }

  .usernameInput,
  .passwordInput {
    height: 25px;
    width: 180px;
  }

  .signIn,
  .signUp {
    font-size: 12px;
    height: 25px;
    width: 80px;
  }

  #welcome h1 {
    font-size: 35px;
  }

  #welcome button {
    font-size: 18px;
    height: 40px;
    width: 120px;
  }

  /* home */

  .home {
    margin: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "search"
      "playlist"
      "stats";
    column-gap: 20px;
    row-gap: 20px;
  }

  .homeSearch,
  .homeStats,
  .homePlaylists {
    font-size: 18px;
  }

  .homeIcons {
    height: 35px;
    width: 35px;
  }

  /* header hamburger */

  #header {
    padding: 60px 40px 0px 40px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "brand hamburger";
    position: relative;
    font-size: 16px;
  }

  .brandHeader {
    grid-area: brand;
    justify-self: left;
    font-weight: bold;
  }

  .headerHamburger {
    grid-area: hamburger;
    justify-self: right;
    display: inline-block;
  }

  #collapsedHeader {
    display: none;
  }

  .collapsedHeader {
    grid-area: hamburger;
    width: 150px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px 0px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    justify-self: right;
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 40px;
  }

  #menu {
    margin: 0;
  }

  .headerDropdown {
    grid-template-areas: "options menu";
  }

  #headerDropdownContent {
    top: -10px;
    right: 133%;
  }

  /* search page */

  .searchPage {
    column-gap: 10px;
  }

  .searchIcon {
    height: 20px;
    position: absolute;
    top: 5px;
    left: -30px;
  }

  .searchInput {
    border-radius: 8px;
    height: 25px;
    width: 200px;
    font-size: 11px;
  }

  .searchButton {
    border-radius: 8px;
    height: 32px;
    width: 50px;
    font-size: 11px;
  }

  /* search page */

  .settingsPage {
    margin-top: 20px;
    grid-template-areas:
      "hi"
      "un"
      "pw";
    row-gap: 30px;
  }

  .settingsPage h1 {
    font-size: 25px;
  }

  .settingsPage p {
    font-size: 14px;
  }

  .settingsPage button {
    font-size: 10px;
  }

  /* search page */
  .searchResultsPage {
    margin: 30px 20px;
  }

  .searchResultsPage-legend {
    font-size: 12px;
    grid-template-columns: 0.3fr 0.5fr 2fr 1fr 0.5fr;
    grid-template-areas: ". . title artist .";
  }

  .result {
    display: grid;
    grid-template-columns: 0.3fr 0.5fr 2fr 1fr 0.5fr;
    grid-template-rows: 55px;
  }

  .result p {
    font-size: 11px;
  }

  .searchResultsPage-play,
  .eachPlaylistPage-play,
  .resultPlayIcon {
    width: 20px;
  }

  .searchResultsPage-img,
  .eachPlaylistPage-img,
  .result img,
  .playlist img {
    width: 35px;
  }

  .searchResultsPage-trackDuration,
  .result-trackDuration {
    display: none;
  }

  .searchResultsPage-options,
  .eachPlaylistPage-options,
  .resultMenuIcon {
    width: 11px;
  }

  .resultMenuContent-hidden {
    top: 20px;
    padding: 10px;
  }
  
  #resultMenuContainer button {
    font-size: 10px;
    margin: 5px 0;
  }
  
  .resultMenuNewPlaylistContent-hidden {
    right: 100%;
    top: 90px;
    padding: 10px;
  }
  
  /* each playlist page, similar to searchresultspage */

  .eachPlaylistPage-header h1 {
    font-size: 25px;
  }

  .eachPlaylistPage-header p {
    font-size: 14px;
  }

  .playlistsPage-playlistRenameInputButton,
  #playlistsPage-playlistDeleteButton  {
    font-size: 10px;
  }
  
  .eachPlaylistsPage-Rename-shown {
    padding: 10px;
    top: 132px;
  }

  /* playlists page */

  /* .playlistsPage {
    display: flex;
    flex-direction: column;
    margin: 40px;
  } */
  
  /* create new playlist */
  .playlistsPage-createPlaylist {
    width: 150px;
    height: 150px;
    font-size: 14px;
  }
  
  #playlistsPage-newPlaylistNameInput,
  .playlistsPage-playlistRenameInput,
  .newPlaylistNameInput {
    height: 20px;
    width: 120px;
    font-size: 11px;
  }
  
  #playlistsPage-newPlaylistNameInputButton,
  .playlistsPage-playlistRenameInputButton,
  .playlistsPage-playlistSubmitButton,
  #playlistsPage-playlistDeleteButton {
    height: 20px;
    font-size: 11px;
  }
  
  /* each playlist */
  
  .playlistsPage-playlists {
    margin: 20px;
    row-gap: 10px;
    column-gap: 10px;
  }
  
  .playlistsPage-eachPlaylist {
    width: 80px;
    height: 40px;
    row-gap: 10px;
    column-gap: 10px;
    padding: 25px;
  }
  
  .playlistsPage-playlistName {
    font-size: 14px;
  }
  
  .playlistsPage-Rename-shown {
    padding: 10px;
    top: 73px;
  }

}

@media screen and (max-width: 400px) {
  .logo {
    font-size: 8px;
  }

  .brand {
    font-size: 1.3em;
  }

  .usernameInput,
  .passwordInput {
    height: 23px;
    width: 130px;
  }

  .signIn,
  .signUp {
    width: 70px;
  }

  #welcome h1 {
    font-size: 25px;
  }

  #welcome button {
    font-size: 15px;
    height: 30px;
    width: 100px;
  }

  #header {
    font-size: 12px;
  }

  .headerHamburger {
    width: 20px;
    height: 20px;
  }

  .collapsedHeader {
    width: 100px;
    height: 140px;
    padding: 10px 0px;
    top: 90px;
  }

  .homeSearch,
  .homeStats,
  .homePlaylists {
    font-size: 14px;
  }

  .homeIcons {
    height: 20px;
    width: 20px;
  }

  /* search page */

  .searchPage {
    margin-top: 25px;
  }

  .searchIcon {
    height: 15px;
    position: absolute;
    top: 5px;
    left: -30px;
  }

  .searchInput {
    height: 18px;
    width: 140px;
    font-size: 9px;
  }

  .searchButton {
    border-radius: 8px;
    height: 25px;
    font-size: 9px;
  }

  /* settings page */

  .settingsPage h1 {
    font-size: 20px;
  }

  .settingsPage p {
    font-size: 12px;
  }

  .settingsPage button {
    height: 25px;
    font-size: 9px;
  }

  .inputs input {
    height: 25px;
    width: 120px;
    font-size: 10px;
  }

  /* playlists page */
    /* playlists page */

  .playlistsPage {
    margin: 30px 20px;
  }
  
  /* create new playlist */
  .playlistsPage-createPlaylist {
    width: 120px;
    height: 120px;
    font-size: 12px;
  }
  
  #playlistsPage-newPlaylistNameInput,
  .playlistsPage-playlistRenameInput,
  .newPlaylistNameInput {
    height: 20px;
    width: 100px;
    font-size: 10px;
  }
  
  #playlistsPage-newPlaylistNameInputButton,
  .playlistsPage-playlistRenameInputButton,
  .playlistsPage-playlistSubmitButton,
  #playlistsPage-playlistDeleteButton {
    font-size: 9px;
  }
  
  /* each playlist */

  .playlistsPage-playlists {
    margin: 20px 0;
  }
  
  .playlistsPage-eachPlaylist {
    width: 70px;
    height: 40px;
    row-gap: 7px;
    column-gap: 7px;
  }
  
  .playlistsPage-playlistName {
    font-size: 12px;
  }
  
  #resultMenuContainer p {
    font-size: 10px;
  }

  #resultMenuContainer button {
    font-size: 9px;
  }

  .eachPlaylist-title h1 {
    font-size: 22px;
  }

  .eachPlaylist-title p {
    font-size: 12px;
  }
  
}
